* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} body {
	width:100%;
	background-color:#16171a;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	text-align: center;
} a {
	background-color:black;
	text-decoration:none;
	padding: 5px;
	border-radius:5px;
	font-size: 30px;

} a:link {
	color:white;

} a:visited {
	color:gray;


} a:hover, a:active {
	background-color:#818077;

}  h2 {
		color: #DAA320;
		font-size:40px;
		font-family:cursive;
		text-align: center;

	} #view {
		text-align:right;
		text-decoration:underline;

	} #submit, #book {
		background-color:#DAA320;
		color: black;
		border-radius: 5px;
		border-color:#DAA320;
		height: 45px;
		width: 95px;
		font-size: 25px;

	} #submit:hover, #submit:active, #book:hover, #book:active {
		background-color:#FC6A03;

	} #map {
		text-align: center;
		padding-bottom:20px;

	} #pic {
		background-color:#ECD9BA;
		padding-bottom: 5px;
		padding-top: 5px;
		margin-bottom:5px;

	}   #reserve {
		background-color:white;
		display:flex;
		align-items:center;
		font-weight: bold;
        height:440px;
		padding-left:50px;
		margin-right:150px;
		margin-left:500px;

	} #picture {
		filter: grayscale(.2);
		transition: .3s;

	} #picture:hover {
		filter: grayscale(0);
		transform: scale(1.2) rotate(3deg);

	} #image {
		filter: grayscale(.2);
		transition: .3s;

	} #image:hover {
		filter: grayscale(0);
		transform: scale(1.1);

	} #dish {
		transition: .3s;

	} #dish:hover {
		transform: scale(1.1);

	} form {
		font-size:20px;
		text-decoration: bold;
	} hr {
		border: 1px outset #DAA320;
		color:#DAA320;
		width: 50%;
	}