* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} body {
	width:100%;
	background-color:#16171a;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	text-align: center;
	padding-top: 110px;
} a {
	background-color:black;
	text-decoration:none;
	padding: 5px;
	border-radius:5px;
	font-size: 30px;

} a:link {
	color:white;

} a:visited {
	color:gray;


} a:hover, a:active {
	background-color:#818077;

}  h2 {
	color: #DAA320;
	font-size:40px;
	font-family:cursive;
	text-align: center;

} #view {
	text-align:right;
	text-decoration:underline;

} 
 #dish {
		transition: .3s;

	} #dish:hover {
		transform: scale(1.1);

	} form {
		font-size:20px;
		text-decoration: bold;
	} hr {
		border: 1px outset #DAA320;
		color:#DAA320;
		width: 50%;
	}