.dish-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 5%;
    margin-bottom: 3rem;
}

.current-slide {
    width: 260px;
    height: 420px;
}

.side-slide {
    width: 200px;
    height: 360px;

}


@media (max-width: 768px) {
    .current-slide {
        height: 320px;
        width: 190px;
    }
    .side-slide {
        width: 170px;
        height: 300px;

    }
}
